body {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: #181818;
}

.user-nav a {
    color: #4c4c4c;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;
    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;
    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.article-sidebar {
    float: right;
    width: 26%;
    margin-right: 1%;
}

.sidebar-nav {
    border-right: 1px solid #DDD;
}

.article-page .main-column {
    float: right;
    width: 73%;
}

.article-header h1 {
    margin-bottom: 20px;
    padding-left: 30px;
    text-align: left;
    font-size: 31px;
}

.article-header .dateline {
    padding-left: 30px;
    font-weight: 300;
}

.article-page .subtle-wrap {
    overflow: visible;
}

.subtle-wrap {
    margin-top: 15px;
    padding: 20px 30px 30px;
}

.clearfix:after {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.table-of-contents {
    display: block;
    background-color: #f5f5f5;
    padding: 22px;
    margin: 0 0 3em 3em;
    float: right;
    width: 300px;
}

.footer {
    background-color: #181818;
    color: #f5f5f5;
}