{{ partial "head" . }}
  
{{ partial "nav-top" . }}

<div class="container article-page mb-5">

  <div class="clearfix">
    <article class="main-column">
      <header class="article-header">
        <h1>
          <h1>{{ .Title }} {{ if .IsDraft }} (Draft){{ end }}</h1>
        </h1>
        <div class="dateline">Last updated {{ .Lastmod.Format "January 2, 2006" }}</div>
      </header>

      <div class="subtle-wrap">
        {{ if and (gt .WordCount 400 ) (ne .Params.toc "false") }}
          <aside class="table-of-contents">
              <span class="toc-title">Sections</span>
              {{ .TableOfContents }}
          </aside>
        {{ end }}
        <div class="article-body">
          {{ .Content }}
        </div>
      </div>

    </article>

    {{ partial "nav-sidebar" . }}

  </div>

</div>

{{ partial "footer" . }}