    <footer class="pt-5 pt-md-5 footer">
        <div class="row m-0">
          
          <div class="col-12 col-md"></div>

          {{ range .Site.Menus.footer.ByWeight }}   
            <div class="col-6 col-md">

              <h5>{{ .Pre }} {{ .Name }} {{ .Post }}</h5>

              {{ if .HasChildren }}
                <ul class="list-unstyled text-small">
                  {{ range .Children }}
                    <li>
                        <a title="{{ .Name }}" href="{{ .URL | relURL}}">
                            {{ .Pre }} {{ .Name }} {{ .Post }}
                        </a>
                    </li>
                  {{ end }}
                </ul>
              {{ end }}
            </div>
          {{ end }}

        </div>

        <div class="text-center p-3">
            <small class="text-muted">
                {{ with .Site.Params.copyright }}
                &copy; {{ now.Format "2006" }} {{ . }} &ndash;
                {{ end }}
                Documentation built with
                <a href="https://www.inscryb.com" target="_blank">Inscryb</a>
            </small>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
</body>

</html>