    <footer class="pt-5 pt-md-5 footer">
        <div class="row m-0">
          
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted" href="#">Cool stuff</a>
              </li>
              <li>
                <a class="text-muted" href="#">Random feature</a>
              </li>
              <li>
                <a class="text-muted" href="#">Team feature</a>
              </li>
              <li>
                <a class="text-muted" href="#">Stuff for developers</a>
              </li>
              <li>
                <a class="text-muted" href="#">Another one</a>
              </li>
              <li>
                <a class="text-muted" href="#">Last time</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted" href="#">Resource</a>
              </li>
              <li>
                <a class="text-muted" href="#">Resource name</a>
              </li>
              <li>
                <a class="text-muted" href="#">Another resource</a>
              </li>
              <li>
                <a class="text-muted" href="#">Final resource</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted" href="#">Team</a>
              </li>
              <li>
                <a class="text-muted" href="#">Locations</a>
              </li>
              <li>
                <a class="text-muted" href="#">Privacy</a>
              </li>
              <li>
                <a class="text-muted" href="#">Terms</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="">
            <small class="d-block mb-3 text-muted">&copy; 2017-2018
                {{ with .Site.Params.copyright }}
                &copy; {{ now.Format "2006" }} {{ . }} &ndash;
                {{ end }}
                Documentation built with
                <a href="https://www.inscryb.com" target="_blank">Inscryb</a>
            </small>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
</body>

</html>