<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ with .Site.Params.description }}
        <meta name="description" content="{{ . }}">
    {{ end }}
        <link rel="canonical" href="{{ .Permalink }}">
    {{ with .Site.Params.author }}
        <meta name="author" content="{{ . }}">
    {{ end }}

    <link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | absURL }}">
    <link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | absURL }}">

    <title>{{ .Title }}{{ if not .IsHome }} - {{ .Site.Title }}{{ end }}</title>

    {{ if .Site.Params.cdn }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link href="{{ "css/font-awesome.min.css" | absURL }}" rel="stylesheet">
    {{ else }}
    <link href="{{ "css/bootstrap.css" | absURL }}" rel="stylesheet">
    <link href="{{ "css/font-awesome.min.css" | absURL }}" rel="stylesheet">
    {{ end }}
    <link href="{{ "css/main.css" | absURL }}" rel="stylesheet">

    {{ with .RSSLink }}
        <link href="{{ . }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
        <link href="{{ . }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}
</head>

<body>