<div class="article-sidebar d-none d-sm-block">
    <ul class="list-unstyled sidebar-nav">
        {{ range .Site.Menus.docs.ByWeight }} 

            {{ partial "nav-sidebar-item" .}}
            
            {{ if .HasChildren }}
                <ul class="list-unstyled ml-3">
                    {{ range .Children }}
                    <li>
                        {{ partial "nav-sidebar-item" .}}

                        {{ if .HasChildren }}
                            <ul class="list-unstyled ml-3">
                                {{ range .Children }}
                                <li>
                                    {{ partial "nav-sidebar-item" .}} 
                                </li>
                                {{ end }}
                            </ul>
                        {{ end }} 
                    </li>
                    {{ end }}
                </ul>
            {{ end }} 

        {{ end }}
    </ul>
</div>